.profile-img-tiny {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
}